*{
    margin: 0px;

}
body {
    background-color: black;
    background-image: url(car1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: rgba(0,0,0,0.4);
}
.logo {
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(to right, #f3a32c, #ff4000);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 1.5px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0;  
    background: none;
    background-color: transparent;
    background: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.6))

}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s ease;
    background: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.6))
}

.nav-links li a:hover {
    color: #ffa94d;
}
.navbar {
    width: 94%;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    background: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.6));

    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: transparent;
     
    box-shadow:0 4px 15px rgba(0, 0, 0, 0.6);
}
.cars-hero {
    padding-top: 140px;
    padding-bottom: 60px;
    text-align: center;
    background: #0c0c0c;
}

.cars-hero h1 {
    font-size: 60px;
    color: #ff7a00;
    font-weight: 800;
    margin-bottom: 10px;
}

.cars-hero p {
    color: #dcdcdc;
    font-size: 22px;
}



.cars-grid-section {
    background: #0b0b0b;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px;
    
}

.car-card {
    background: #121212;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
    transition: 0.3s ease;
    
}

.car-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(255, 120, 0, 0.25);
}

.car-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.car-details {
    padding: 18px 20px;
}

.car-details h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 6px;
}

.car-details p {
    color: #ff7a00;
    font-size: 16px;
    font-weight: 600;
}
.footer {
    background: rgb(12, 12, 12);
    padding: 70px 60px 30px ;

    color: #d3d3d3;
    margin-top:0px;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.footer-container {
    background: rgb(12, 12, 12);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}


.footer-logo {
    background: rgb(12, 12, 12);
    color: #ff7a00;   
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 0px;

}

.footer-brand p {
    background: rgb(12, 12, 12);
    max-width: 280px;
    line-height: 1.6;
    color: #cfcfcf;
    padding-bottom:53px;
    
}


.footer-column {
    
    background:  rgb(12, 12, 12);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-column h3 {
    
    background: rgb(12, 12, 12);
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-column a {
    background: rgb(12, 12, 12);
    text-decoration: none;
    color: #b3b3b3;
    font-size: 16px;
    transition: 0.3s ease;
}

.footer-column a:hover {
    color: #ff7a00;
}


.footer-bottom {
    background: rgb(12, 12, 12);
    margin-top: 50px;
    padding-top: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    text-align: center;
    color: #9e9e9e;
    font-size: 14px;
}
.footer-desc{
    
    background: #0c0c0c;       
    padding: 15px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    color: #d3d3d3;
    font-size: 18px;
    line-height: 1.5;
}
